@import "tailwindcss";

:root {
  --foreground-rgb: 51, 51, 51;
  /* Dark gray text */
  --background-start-rgb: 253, 252, 248;
  /* HIVE-like Beige */
  --background-end-rgb: 253, 252, 248;
  /* Solid beige */
}

/* Dark Mode Variables */
:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
}